import os
import connexion
import {{packageName}}
from {{packageName}} import encoder


def main():
    swagger_path = os.path.join(os.path.dirname({{packageName}}.__file__), 'swagger')
    app = connexion.App(__name__, specification_dir=swagger_path)
    app.app.json_encoder = encoder.JSONEncoder
    app.add_api('swagger.yaml', arguments={'title': '{{appName}}'})
    app.run(port={{serverPort}})


if __name__ == '__main__':
    main()
